PORT=3000

OPENAI_API_KEY=your_openai_api_key

ACTIVE_TMS=testmo # testmo or testomat

# Testmo Settings
TESTMO_TOKEN=your_testmo_token
TESTMO_URL=https://your-company.testmo.net
TESTMO_PROJECT_ID=1
TESTMO_FOLDER_ID=1
TESTMO_TEMPLATE=steps # steps or text

# Testomat.io Settings
TESTOMAT_API_KEY=your_testomat_api_key
TESTOMAT_URL=https://app.testomat.io
TESTOMAT_SUITE_ID=Sprint 1
TESTOMAT_TEMPLATE=steps # steps or text